<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exibição | Leads</title>

    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/css.css">

</head>
<body>
    <div class="card" id="tabelaLeads">                
        <table class="table table-bordered border-secondary">
            <div class="card-header">                    
                <img class="card-img-top" src="../../assets/img/logo-elogroup.jpg" alt="Logo EloGroup">
                <div class="text-center">
                    <h5 class="card-title">Painel de Leads</h5>
                </div>
                <a class="btn btn-primary btn-lg" href="novoLead.html">Novo Lead (+)</a>                    
            </div>              
            <tr class="table-dark">
                <th scope="col">Cliente em Potencial</th>
                <th scope="col">Dados Confirmados</th>
                <th scope="col">Reunião Agendada</th>
            </tr>
            <tr>
                <td>Org. Internacionais</td>
                <td></td>
                <td></td>
            </tr>
            <tr class="table-secondary">
                <td></td>
                <td>Ind. Farm. LTDA</td>
                <td></td>
            </tr>
            <tr>
                <td>Musc. Sound Live Cmp</td>
                <td></td>
                <td></td>
            </tr>              
        </table>
    </div>
    
    <script src="../../assets/js/bootstrap.min.js"></script>
</body>
</html>