<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserir | Leads</title>

    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/css.css">

</head>
<body>
    <div class="row">
        <div class="col-sm-6">
            <div class="card" id="body1">
                <div class="card-body">
                    <form name="formulario" id="formsLead">
                        <img class="card-img-top" src="../../assets/img/logo-elogroup.jpg" alt="Logo EloGroup"><br/>
                        <div class="form-group">
                            <label>Nome *</label>
                            <input type="text" class="form-control" id="nome" value required="required" onchange="return validar_forms1()">
                        </div>
                        <div class="form-group">
                            <label>Telefone *</label>
                            <input type="text" class="form-control" id="telefone" value required="required" onchange="return validar_forms1()">
                        </div>
                        <div class="form-group">
                            <label>E-mail *</label>
                            <input type="text" class="form-control" id="email" value required="required"  onchange="return validar_forms1()">
                        </div>                
                    </form>              
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" id="body2">
                <div class="card-body">
                    <table class="table table-bordered" id="tblNew">
                        <div class="card-header" id="header">                    
                            <h5 class="card-title" id="titleCard">Novo Lead</h5>
                            <small>Oportunidades *</small>                    
                        </div>              
                        <tr class="table-dark">
                            <th scope="col"><input type="checkbox" id="marcaTodos" name="check[]" onclick="return marcarTodos(this.checked);"></th>
                            <th scope="col"></th>
                        </tr>
                        <tr>
                            <th scope="row"><input type="checkbox" name='check[]'></th>
                            <td>RPA</td>
                        </tr>
                        <tr class="table-secondary">
                            <th scope="row"><input type="checkbox" name='check[]'></th>
                            <td>Produto Digital</td>
                        </tr>
                        <tr>
                            <th scope="row"><input type="checkbox" name='check[]'></th>
                            <td>Analytics</td>
                        </tr>
                        <tr class="table-secondary">
                            <th scope="row"><input type="checkbox" name='check[]'></th>
                            <td>BMP</td>
                        </tr>                              
                    </table>
                    <a class="btn btn-primary btn-lg" href="exibicaoLeads.html">Salvar</a>                    
                </div>
            </div>
        </div>
    </div>

    <script>

        function validar_forms1() {
            var nome = formulario.nome.value;
            var telefone = formulario.telefone.value;
            var email = formulario.email.value;

            if(nome == "") {
                alert('Campo obrigatório! Favor informar seu nome!');
                return false;
            }

            if(telefone == "") {
                alert('Campo obrigatório! Favor informar seu telefone!');
                return false;
            }

            if(email == "") {
                alert('Campo obrigatório! Favor informar seu e-mail!');
                return false;
            }

        }

        function marcarTodos(marcar){
            var itens = document.getElementsByName('check[]');
            var i = 0;

            for(i=0; i<itens.length;i++){
                itens[i].checked = marcar;
            }

        }
    </script>
    
</body>
</html>